<div id="page-content-wrapper">
    <div class="page-content inset" data-ng-switch="activeJail.currentView">

      <div class="row" data-ng-switch-when="Overview">

        <form role="form">
          <div class="form-group">
            <label for="findTimeInput">Find Time</label>
            <input type="number" class="form-control" id="findTimeInput" data-ng-model="activeJail.data.findTime" min="0">
          </div>

          <div class="form-group">
            <label for="maxRetryInput">Max Retry</label>
            <input type="number" class="form-control" id="maxRetryInput" data-ng-model="activeJail.data.maxRetry" min="0">
          </div>

          <div class="form-group">
            <label for="useDNSInput">Use DNS</label>
            <select class="form-control" id="useDNSInput" data-ng-model="activeJail.data.useDNS" data-ng-options="o for o in ['yes', 'warn', 'no']">
            </select>
          </div>

          <button type="submit" class="btn btn-default" data-ng-click="clickOverviewUpdate()">Update</button>
        </form>

        <div class="col-md-12">
          <h4>fileList</h4>
          <p class="well" data-ng-repeat="file in activeJail.data.fileList"> {{file}} </p>
        </div>

      </div>

      <div class="row" data-ng-switch-when="failRegexes">
        <div class="col-md-12">
          <h4>Fail Regexes</h4>
          <ul data-ng-repeat="regex in activeJail.data.failRegexes track by $index">
            <li>
                {{regex}}
                <span style="color: red" data-ng-click="clickDeleteFailRegex(regex)" class="glyphicon glyphicon-remove"></span>
            </li>
          </ul>
        </div>

        <form class="col-md-12 form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="addFailRegex">Fail Regex</label>
            <textarea class="form-control" data-ng-model="addFailRegex" placeholder="Enter Fail Regex"> </textarea>
          </div>
          <button type="submit" class="btn btn-danger" data-ng-click="clickAddFailRegex(addFailRegex)">Add Fail Regex</button>
        </form>

        <div class="col-md-12">
          <h4>Test Fail Regexes</h4>

          <div data-ng-repeat="(jail, lines) in activeJail.testFailRegex">
            <h5> {{jail}} </h5>
            <ul class="list-unstyled" data-ng-repeat="line in lines">
              <li data-ng-class="{'text-danger': line.Match}"> {{line.Line}} </li>
            </ul>
          </div>

        </div>

        <form class="col-md-12 form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="testFailRegex">Fail Regex</label>
            <textarea class="form-control" data-ng-model="testFailRegex" placeholder="Enter Fail Regex"> </textarea>
          </div>
          <button type="submit" class="btn btn-danger" data-ng-click="clickTestFailRegex(testFailRegex)">Test Fail Regex</button>
        </form>


      </div>

      <div data-ng-switch-when="failedIPs">
        <div class="row">
          <div class="col-md-12">
            <h4>Total Failed - {{activeJail.data.totalFailed}}</h4>
          </div>

          <div class="col-md-12">
            <h4>Total Banned - {{activeJail.data.totalBanned}}</h4>
          </div>

          <div class="col-md-12">
            <h4>Currently Banned- {{activeJail.data.currentlyBanned}}</h4>
          </div>

          <div class="col-md-12">
            <h4>Currently Failed - {{activeJail.data.currentlyFailed}}</h4>
          </div>

          <div class="col-md-12">
            <h4>IP List</h4>
            <ul data-ng-repeat="ip in activeJail.data.IPList">
              <li>
                  {{ip}}
                  <span style="color: blue" data-ng-click="clickRunWHOIS(ip)" class="glyphicon glyphicon-flag"></span>
                  <span style="color: red" data-ng-click="clickUnBanIPAddress(ip)" class="glyphicon glyphicon-remove"></span>
              </li>
            </ul>
          </div>

          <form class="col-md-12 form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="banIPAddress">IP Address</label>
              <input type="text" class="form-control" id="banIPAddress" data-ng-model="banIPAddress" placeholder="Enter IP Address">
            </div>
            <button type="submit" class="btn btn-danger" data-ng-click="clickBanIPAddress(banIPAddress)">Ban IP Address</button>
          </form>
        </div>

        <div class="row" style="padding-top: 2em">

          <div class="col-md-12">
            <h4> Ban History </h4>
          </div>
          <div data-ng-if="hasPersistantDB">
            <div data-ac-chart="'pie'"
              data-ac-data="chartData"
              data-ac-config="chartConfig"
              class="chart">
            </div>

            <table class="table table-striped" >
              <tr>
                <th> Date </th>
                <th> IP </th>
                <th> Matches </th>
              </tr>
              <tr data-ng-repeat="ban in groupedBans[hoveredHost]">
                <td> {{ban.TimeOfBanString}} </td>
                <td> {{ban.IP}} </td>
                <td>
                  <div data-ng-repeat="match in ban.Data.Matches">
                    {{match}}
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-12" data-ng-if="!hasPersistantDB">
            <div class="well well-lg error-well">
              Your fail2rest instance is reporting that you don't have a persisted DB  <br/> <br/>

              This might mean you are running on old version of fail2ban (pre 0.9), don't have
              the persisted DB enabled or don't have the permissions to read it.
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

