Alias /fail2web "/path/to/fail2web/web/"
<Directory "/path/to/fail2web/web/">
  AllowOverride All
  Options Indexes FollowSymLinks MultiViews ExecCGI
  Order deny,allow
  Allow from all
  AuthType Basic
  AuthName "Restricted Site"
  AuthBasicProvider file
  AuthUserFile /path/to/.passwd/passwords
  Require valid-user
</Directory> 
