Alias /fail2web "/path/to/fail2web/web/"
<Directory "/path/to/fail2web/web/">
  AllowOverride All
  Options Indexes FollowSymLinks MultiViews ExecCGI
  Order deny,allow
  Allow from all
  AuthType Basic
  AuthName "TOTP Security"
  AuthBasicProvider "google_authenticator"
  Require valid-user
  GoogleAuthUserPath /path/to/totp_google_authentication_dir/ga_auth/
  GoogleAuthCookieLife 3600
  GoogleAuthEntryWindow 2 #The set window of concurrently valid codes as determined by the google-authenticator script when setting up TOTP for a user.
</Directory>
